@model IEnumerable<GetAllBooksDto>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-3">
            <div class="card">
                <img src="@item.ImageUrl" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">
                        @(item.Authors?.Any() == true ? string.Join(", ", item.Authors.Select(a => a.Name)) : "")
                    </p>
                    <p class="card-text">
                        @(item.Publisher != null ? item.Publisher.Name : "")
                    </p>
                    <p class="card-text">@item.Price TL</p>
                    <button class="btn btn-success basket" data-id="@item.Id">Sepete ekle</button>
                </div>
            </div>
        </div>   
        
    }
</div>
